*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Oxygen, Helvetica, Arial, sans-serif, sans-serif;
    font-size: 14px;
    color: #444;
}

#main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(120deg, #faf394 -50%, #20b190 100%); */
    background-color: #33c999;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    width: 70vw;
    height: auto;
    background-color: white;
    box-shadow: 0px 3px 30px rgba(2, 53, 38, 0.5);
    border-radius: 15px;
}

#newsletter-graphics{
    width: 50%;
}

#newsletter-graphics h3{
    color: #1c1438;
    text-align: center;
    margin-top: 30px;
}

#news-img{
    width: 100%;
}

#form-container{
    width: 50%;
}

#form-container h1{
    margin-bottom: 20px;
    text-align: center;
    color: #1c1438;
}

#news-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #666;
    margin: 10px 0;
    width: 80%;
}

.form-input{
    border: none;
    margin-left: 10px;
    font-size: 0.8rem;
    width: 100%;
}

.form-input:focus{
    border: none;
    outline: none;
}

#submit-btn{
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px #1b6e54;
    align-self: center;
    margin-top: 15px;
    background-color: #33c999;
    color: white;
    font-weight: 700;
    transition: all .2s;
}

#submit-btn:hover{
    background-color:#2fb98e;
    color: #fff;
    cursor: pointer;
}

#submit-btn:active {
    transform: translateY(4px);
    outline: none;
}

#submit-btn:focus {
    outline: none;
}

.error-message{
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-top: -10px;
    color: rgb(224, 0, 0);
    text-align: center;
    visibility: hidden;
}

.success-message{
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    color:  #33c999;
    text-align: center;
    display: none;
    padding: 10px;
    margin-top: 15px;
}


@media screen and (max-width: 991px) {
    #container{
        flex-direction: column;
    }

    #newsletter-graphics{
        width: 80%;
    }

    #newsletter-graphics h3{
        margin-top: 10px;
        font-size: 0.9rem;
    }

    #form-container{
        width: 100%;
        margin-top: 40px;
    }

    #form-container h1{
        font-size: 1.6rem;
    }

    .input-container {
        width: 80%;
        margin: 5px 0;
    }
}


@media screen and (min-width: 730px) {
    .input-container {
        width: 70%;
    }
}